h3 {
    margin: 0;
}
*{
    font-family: sans-serif;
    text-decoration: none;
}

.card {
    width: 50%;
    background-color: lightblue;
    border: 1px solid deepskyblue;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.btn {
    color: white;
    border: 0;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.change-card-btn {
    background-color: royalblue;
    margin-right: 10px;
}

.delete-card-btn {
    background-color: firebrick;
}

.add-post-btn{
    background-color: darkgreen;
    position: fixed;
    top: 15px;
    left: 15px;
}

.add-post-form {
    background-color: deepskyblue;
    text-align: center;
    border-radius: 10px;
    position: relative;
    padding: 10px;
}

.background {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.close{
    background-color: darkred;
}

.submit{
    background-color: forestgreen;
    margin-right: 10px;
}

.form-group {
    margin: 5px;
    text-align: center;
}

