.productCard {
     width: 100%;
     height: 100%;
     border: 3px solid black;
     box-shadow: -5px -2px 10px 0px white;
     background-color: #fff;
     padding: 20px;
     border-radius: 25px;

     &__picture {
          width: 100%;
          height: 220px;
          padding-bottom: 20px;
          display: flex;
          justify-content: center;

          &>img {
               width: 100%;
          }
     }

     &__name {
          font-size: 18px;
          font-weight: 400;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 10px;
          margin-top: 10px;
     }

     &__color {
          display: flex;
          float: right;
          height: 32px;
          align-items: center;
     }

     &__colorCycle {
          border-radius: 100%;
          height: 15px;
          width: 15px;
          margin-right: 10px;
          border: 1px solid rgba(39, 40, 44, 0.2);
     }

     &__colorSpan {
          text-transform: capitalize;
     }

     &__price {
          display: inline;
          font-size: 24px;
          font-weight: 500;
     }

     &__code {
          display: flex;
          font-size: 10px;
          font-weight: 300;
     }

     &__footer {
          display: flex;
          justify-content: center;
          align-items: center;
          float: right;
     }

     &__ctaButton {
          border-radius: 24px;
          padding: 10px 30px;
          background-color: #000000;
          display: flex;
          color: #fff;
          font-weight: 500;
          cursor: pointer;
     }
     &__favButton {
          background: none;
          height: 55px;
          width: 45px;
          cursor: pointer;

          &>img {
               width: 32px;
          }
     }
}