.productList {
     width: 90%;
     display: flex;
     justify-content: space-between;
     align-content: center;
     flex-wrap: wrap;
     gap: 38px;
     padding: 40px 0;

     &__item {
          width: 220px;
          height: 370px;
     }
}