@mixin customFlexAlign($display, $alignItems: none, $justifyContent: none) {
     display: $display;
     align-items: $alignItems;
     justify-content: $justifyContent;
}

@mixin customFont($fontSize, $fontWeight, $fontColor) {
     font-size: $fontSize;
     font-weight: $fontWeight;
     color: $fontColor;
}

@mixin customSize($width, $height) {
     width: $width;
     height: $height;
}