@mixin flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
}

.modal {
     width: 516px;
     height: 280px;
     border-radius: 10px;
     @include flex-center();
     justify-content: space-between;
     flex-direction: column;
     border: 1px solid rgba(39, 40, 44, .2);
     background-color: #33cc2c;

     &-overlay {
          background-color: rgba(4, 4, 4, 0.45);
          position: fixed;
          width: 100vw;
          height: 100vh;
          top: 0;
          opacity: 0;
          transition: 0.5s;
          z-index: -1;
          left: 0;
          @include flex-center();
     }

     &__header {
          @include flex-center();
          justify-content: space-around;
          width: 100%;
          height: 50px;
          border-radius: 10px;
          background-color: rgba(4, 4, 4, 0.6);
     }

     &__header-text {
          font-size: 20px;
          color:#fff;
     }

     &__text {
          padding: 0 10%;
          text-align: center;
          color:#141414;
          line-height: 30px;
     }

     &__btn-container {
          display: flex;
          justify-content: space-around;
          width: 50%;
          padding: 20px 0;
     }

     &__btn {
          border-radius: 4px;
          width: 101px;
          height: 41px;
          cursor: pointer;
          background-color: #fff;
          font-weight: 600;
          color:#141414;
          border: 0;
          border: 1px solid rgba(39, 40, 44, .2);
     }

     &--active {
          opacity: 1;
          z-index: 1000;
     }
}
