@use './styles/utilities/variables.scss' as *;
@use './styles/utilities/mixins.scss' as *;

.main {
     background-color: #5d1717;
     min-height: $mainHeightCalc;
     @include customSize(100%, 100%);
     @include customFlexAlign(flex, flex-start, center);
}