.defaultButton {
     border-radius: 4px;
     width: 101px;
     height: 41px;
     cursor: pointer;
     background-color: #000000;
     font-weight: 600;
     color: #141414;
     border: 0;
     border: 1px solid rgba(39, 40, 44, .2);
}