.footer {
  width: 100%;
  height: 100%;
  background-color: $footer-bg;
  margin: 0 auto;
  &__container {
    flex-direction: column;
    @include flex-center;
    @include block-center;
    padding-top: 45px;
    padding-bottom: 10px;
  }
  &__text {
    @include roboto-normal;
    font-size: 12px;
    line-height: 23px;
    color: $footer-text-color;
    text-align: center;
    margin: 0;
    padding-top: 5px;
  }
  &__socials {
    display: flex;
    padding-top: 20px;
    padding-bottom: 5px;
    gap: 5px;
  }
  &__address {
    @include roboto-normal;
    font-size: 14px;
    line-height: 30px;
    color: $footer-text-color;
    & > span {
      display: block;
    }
    text-align: center;
  }
  &__text-span {
    display: none;
  }
}