@media all and (min-width: 769px) {
  .nav {
    width: 80%;
    padding: 30px 0;
    justify-content: space-between;
    margin: 0 auto;
    &__item {
      display: flex;
    }
    &__item:hover{
      color: $active-category;
    }
  }
  .menu-icon {
    display: none;
    &--active {
      display: none;
    }
  }
  .close-menu-icon {
    display: none;
    &--active {
      display: none;
    }
  }
  .main {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .nav-mobile {
    display: none;
  }
  .text {
    display: block;
  }
  .posts {
    padding-bottom: 30px;
    &__item {
      & > a {
        display: flex;
        gap: 20px;
      }
      &:last-child {
        display: block;
      }
    }
  }
  .block-title {
    font-size: $title-size;
  }
  .content-title {
    font-size: $title-size;
  }
  .small-text {
    font-size: $small-text-size;
  }
  .insta-shots {
    background-color: $insta-shots-bg;
    padding-bottom: 50px;
    &__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      & > .block-title {
        &:first-of-type {
          display: none;
        }
        &:nth-last-of-type(1) {
          display: inline-block;
        }
      }
      & > div {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        & > img {
          width: 32%;
          &:nth-last-of-type(-n + 2) {
            display: flex;
          }
        }
      }
    }
    &__link {
      display: inline-block;
    }
    &__link:hover{
        color: $active-category;
    }
  }
  .footer {
    &__container {
      padding-top: 60px;
      padding-bottom: 20px;
    }
    &__text {
      padding-top: 10px;
      font-size: 16px;
      line-height: 30px;
    }
    &__socials {
      padding-top: 30px;
      padding-bottom: 15px;
    }
    &__socials--icon:hover{
      cursor: pointer;
    }
    &__text-span {
      display: inline;
    }
    &__address {
      font-size: 16px;
      & > span {
        display: inline;
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .nav {
    padding: 40px 0;
  }
  .posts {
    padding-bottom: 50px;
    & > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item {
      width: 50%;
    }
  }
  .text {
    width: 90%;
  }
  .insta-shots {
    &__container {
      & > div {
        & > img {
          width: 24%;
          &:nth-last-of-type(-n + 3) {
            display: flex;
          }
        }
      }
    }
  }

}