@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin font-titles {
  @include roboto-bold;
  color: $title-color;
}
@mixin block-center {
  width: 80%;
  margin: 0 auto;
}
@mixin roboto-normal {
  font-family: $roboto;
  font-weight: normal;
}
@mixin roboto-bold {
  font-family: $roboto;
  font-weight: bold;
}


