$title-color: #4E4E4E;
$text-color: #5C5C5C;
$small-text-color: #7C7C7C;
$active-category: #57A4A4;
$insta-shots-bg: rgba(0, 0, 0, 3%);
$footer-bg: #000;
$footer-block-text-color: #FEFEFE;
$footer-text-color: #B9B9B9;

$nav-bg-color: #F5F5F5;
$nav-item-hover-color: #E5E5E5;

$roboto: Roboto, sans-serif;
$category-size: 11px;
$title-size-mobile: 14px;
$small-text-size-mobile: 11px;
$title-size: 16px;
$text-size: 14px;
$small-text-size: 12px;
$link-size: 13px;

