@use '../../styles/utilities/variables.scss' as *;
@use '../../styles/utilities/mixins.scss' as *;

.favouriteList {
     width: $contentWidth;
     display: flex;
     align-content: center;
     flex-wrap: wrap;
     gap: 38px;
     padding: 40px 0;

     &__item {
          @include customSize(220px, 370px);
     }

     &:empty:after {
          @include customFont(24px, 500, #000);
          @include customFlexAlign(flex, center, center);
          margin: auto;
          left: 0;
          bottom: 0;
          top: 0;
          right: 0;
          content: 'No items have been added';
          position: absolute;
     }

}