.nav-mobile {
  display: none;
  width: 57%;
  background-color: $nav-bg-color;
  height: auto;
  position: absolute;
  top: calc(100% - 20px);
  &__item {
    display: block;
    width: calc(100% - 5px);
    line-height: 30px;
    text-decoration: none;
    padding-left: 5px;
    &:hover {
      background-color: $nav-item-hover-color;
    }
  }
  &--active {
    display: block;
  }
}