.nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
  position: relative;
  &__item {
    @include roboto-normal;
    text-decoration: none;
    font-size: $category-size;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: $title-color;
    display: none;
    &__item:hover{
      color: $active-category;
    }
    &--active {
      color: $active-category;
    }
  }
}