@use '../../styles/utilities/variables.scss' as *;
@use '../../styles/utilities/mixins.scss' as *;

.BagCard {
     @include customSize(100%, 200px);
     @include customFlexAlign(flex, center);
     position: relative;
     border: 3px solid black;
     background-color: $clearWhiteColor;
     border-radius: 10px;
     box-shadow: -5px -2px 10px 0px white;

     &__infoContainer {
          @include customFlexAlign(flex, none, space-between);
          flex-direction: column;
          gap: $standartGap;
          height: 75%;
     }

     &__name {
          @include customFont(18px, 400, #000);
     }

     &__price {
          @include customFont(22px, 500, #000);
     }

     &__picture {
          height: 90%;
          @include customFlexAlign(flex, none, center);

          &>img {
               width: 100%;
          }
     }

     &__color {
          @include customFlexAlign(flex, center);
     }

     &__colorCycle {
          border-radius: 100%;
          @include customSize(15px, 15px);
          margin-right: 10px;
          border: $standartBorder;
     }

     &__colorSpan {
          text-transform: capitalize;
     }

     &__code {
          @include customFont(16px, 300, #000);
     }

     &__removeBtn {
          @include customSize(60px, 100%);
          position: absolute;
          background: none;
          right: 0;
          cursor: pointer;
          &>img {
               width: 100%;
          }
     }
}