.main {
  height: 100%;
  background: url("src/img/blurred_bg.jpg") no-repeat center / cover;
  align-content: flex-start;
  box-shadow: inset 0px 2px 6px 0px #2125299e;
}

@supports (-webkit-appearance: none) {
  .main {
    background: url("../img/back.webp") no-repeat center / cover;
  }
}





